
.banner .banner__text {
    width: 100%;
}

/* Story */
.story .story__content-img{
    width: 50%;
    aspect-ratio: 17/10;
    padding-left: 2.875rem; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.story .story__content-img img{
    vertical-align: middle;
}

.story .story__content-text p{
    font-family: 'Gilroy-Regular';
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: var(--main-black-color-100);
    margin-bottom: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.story .story__content-text p:last-child{
    font-family: 'Gilroy-SemiBold';
    margin-bottom: 0;
}

/* Expertise */
.expertise .expertise__content{
    width: 100%;
    margin-bottom: 4rem;
}

.expertise .service{
    border-bottom: 0.125rem solid var(--main-black-color-100);
}

.expertise .service .accordion-body{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.expertise .service .service__content{
    width: 50%;
    padding: 0.5rem 2rem;
}

.expertise .service .service__content-text{
    font-family: 'Gilroy-Regular';
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--main-black-color-100);
}

/* Partners */
.partners {
    padding: 6.25rem 0;
}

.partners .partners__header{
    margin-bottom: 4rem;
}

.partners .partners__header .partners__header-sub-heading{
    font-family: 'Gilroy-Medium';
    font-size: 1.5rem;
    line-height: 2.25rem;
    color: var(--bg-light);
}

.partners .partners__header .partners__header-heading{
    font-family: 'Gilroy-Bold';
    font-size: 4rem;
    line-height: 5.5rem;
    color: var(--bg-light);
}

.partners .scroll-wrapper {
    padding: 2rem 0;
}

.partners .scroll-wrapper .scroll-wrapper__content-item img:first-child{
    margin-bottom: 5rem;
}

/* Culture */
.culture .culture__des{
    margin-bottom: 4rem;
}

.culture .culture__des .culture__des-text{
    font-family: 'Gilroy-Regular';
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: var(--main-black-color-100);
}

.culture .culture__img img{
    aspect-ratio: 1/1;
}