
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: default;
}

:root {
    --main-yellow-color-10: rgba(240, 169, 0, 0.1);
    --main-yellow-color-20: rgba(240, 169, 0, 0.2);
    --main-yellow-color-30: rgba(240, 169, 0, 0.3);
    --main-yellow-color-70: rgba(240, 169, 0, 0.7);
    --main-yellow-color-100: #f0a900;
    --main-black-color-10: rgba(17, 24, 18, 0.1);
    --main-black-color-20: rgba(17, 24, 18, 0.2);
    --main-black-color-30: rgba(17, 24, 18, 0.3);
    --main-black-color-70: rgba(17, 24, 18, 0.7);
    --main-black-color-100: #111812;
    --main-bg-color-10: rgba(253, 255, 252, 0.1);
    --main-bg-color-20: rgba(253, 255, 252, 0.2);
    --main-bg-color-30: rgba(253, 255, 252, 0.3);
    --main-bg-color-70: rgba(253, 255, 252, 0.7);
    --main-bg-color-100: #fdfffc;

    --bg-light: #f8f9fa;
    --bg-header: #fdfffc4d;
    --text-hover-header: #766d57;
    --sub-heading-color: #595959;
    --sub-heading-color-20: rgb(89, 89, 89, 0.2);
    --sub-heading-color-30: rgb(89, 89, 89, 0.3);
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6{
    margin-bottom: 0;
}

body{
    background-color: var(--main-bg-color-100);
}

.wrapper{
    width: 108.125rem;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.wrapper-flex{
    display: flex;
    flex-wrap: wrap;
    margin: -0.9375rem;
}

.wrapper.wrapper-top{
    margin-top: 8.75rem;
}

.wrapper.wrapper-bottom{
    margin-bottom: 8.75rem;
}

.wrapper .wrapper__header{
    margin-bottom: 4rem;
}

.wrapper .wrapper__header .wrapper__header-heading{
    font-family: 'Gilroy-Bold';
    font-size: 4rem;
    line-height: 5.5rem;
    color: var(--main-black-color-100);
}

.wrapper .wrapper__header .wrapper__header-sub--heading{
    height: 2.25rem;
    font-family: 'Gilroy-Medium';
    font-size: 1.5rem;
    line-height: 2.25rem;
    color: var(--sub-heading-color);
}

.rectangle-25{
    width: 25.625rem;
    max-width: calc(25% - 1.875rem);
}

.rectangle-50{
    width: 53.125rem;
    max-width: calc(50% - 1.875rem);
}

.rectangle-75{
    width: 80.625rem;
    max-width: calc(75% - 1.875rem);
}

.rectangle-100{
    width: 108.125rem;
    max-width: calc(100% - 1.875rem);
}

.rectangle-25,
.rectangle-50,
.rectangle-75,
.rectangle-100{
    margin: 0.9375rem;
}

.top{
    margin-top: 0.9375rem;
}

.top-1{
    margin-top: 1.875rem;
}

.bottom{
    margin-bottom: 0.9375rem;
}

.bottom-1{
    margin-bottom: 1.875rem;
}

.left{
    margin-left: 0.9375rem;
}

.left-1{
    margin-left: 1.875rem;
}

.right{
    margin-right: 0.9375rem;
}

.right-1{
    margin-right: 1.875rem;
}

.project-25{
    aspect-ratio: 1/1;
}

.project-50{
    aspect-ratio: 1/1;
}

.project-75{
    aspect-ratio: 129/85;
}

.project-100{
    aspect-ratio: 173/100;
}

@media (max-width: 1777px){
    .wrapper{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@media (max-width: 1199px) {
    .wrapper{
        width: 53.125rem;
    }

    header .wrapper{
        width: 100%;
    }
}