
/* Header */
header {
    background-color: var(--main-yellow-color-70);
}

/* Inspiration */
.inspiration.wrapper{
    margin-top: 15rem;
}

.inspiration .wrapper__header{
    margin-bottom: 5rem;
}

.inspiration .inspiration__sub-heading{
    margin-top: 1.5rem;
    font-family: 'Gilroy-SemiBold';
    font-size: 1.5rem;
    line-height: 2.25rem;
    color: var(--main-black-color-100);
    display: flex;
    align-items: center;
}

.inspiration .inspiration__sub-heading .line{
    display: inline-block;
    width: 12.5rem;
    height: 0.0625rem;
    background-color: var(--main-black-color-100);
    margin: 0 0.5rem;
    margin-top: 0.375rem;
}

.inspiration .inspiration__img{
    margin-bottom: 5rem;
    width: 100%;
    aspect-ratio: 173/100;
}

.inspiration .inspiration__img img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.inspiration .inspiration__info-img{
    padding-right: 0.9375rem;
    aspect-ratio: 1/1;
}

.inspiration .inspiration__info-content{
    padding: 0 2rem;
    padding-left: 2.9375rem;
}

.inspiration .inspiration__info-content .heading{
    margin-bottom: 2rem;
    padding: 0.5rem;
    font-family: 'Gilroy-Bold';
    font-size: 2.375rem;
    line-height: 3.5625rem;
    color: var(--main-black-color-100);
}

.inspiration .inspiration__info-content .sub-heading{
    font-family: 'Gilroy-SemiBold';
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: var(--main-black-color-100);
    margin-bottom: 4rem;
}

.inspiration .inspiration__info-content p{
    margin-bottom: 1rem;
    font-family: 'Gilroy-Regular';
    font-size: 1.25rem;
    line-height: 1;
    color: var(--sub-heading-color);
}

/* Location map */
.location.wrapper{
    overflow-y: visible;
}

.location {
    aspect-ratio: 14/5;
}

.location .location__header{
    margin-bottom: 2rem;
    padding: 0.5rem;
}

.location .location__header-heading{
    font-family: 'Gilroy-Bold';
    font-size: 2.375rem;
    line-height: 3.5rem;
    margin-bottom: 0;
    color: var(--main-black-color);
}

.location .content{
    width: 100%;
    height: 100%;
    position: relative;
}

.location .location__img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.location .location__img-bg{
    width: 100%;
    height: 100%;
    vertical-align: middle;
    cursor: pointer;
}

.location .location__img-map{
    position: absolute;
    top: 100%;
    left: -0.125rem;
    right: 0;
    width: calc(100% + 0.25rem);
    height: calc(100% + 0.25rem);
    z-index: 2;
    transition: all ease-in-out 0.4s;
    cursor: pointer;
}

.location .content:hover .location__img-map{
    top: -0.125rem;
}

.location .location__address{
    position: absolute;
    top: 4.25rem;
    left: 3.4375rem;
    z-index: 10;
    border-radius: 1rem;
    padding: 2rem;
    overflow: hidden;
    border: 0.0625rem solid var(--main-yellow-color-70);
}

.location .location__address-noise{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: var(--main-bg-color-30);
    backdrop-filter: blur(5px);
}

.location .location__address-text{
    width: 100%;
    height: 100%;
}

.location .location__address-text h5{
    font-family: 'Gilroy-Medium';
    font-size: 1.125rem;
    letter-spacing: 0.0625rem;
    margin: 0.5rem 0;
    color: var(--main-black-color-100);
}

.location .location__address-text h5:first-child{
    margin-top: 0;
}

.location .location__address-text h5:last-child{
    margin-bottom: 0;
}

.location .location__carousel{
    position: absolute;
    bottom: 2rem;
    left: 3.4375rem;
    z-index: 10;
    width: fit-content;
    padding: 0.625rem;
    width: 28.625rem;
}

.location .location__carousel .carousel-inner,
.location .location__carousel .carousel-item{
    width: fit-content;
}

.location .location__carousel .heading{
    font-family: 'Gilroy-Heavy';
    font-size: 5rem;
    line-height: 5.25rem;
    color: var(--bg-light);
}

.location .location__carousel .text-stroke{
    color: transparent;
}

.location:hover .location__carousel .heading{
    color: var(--main-black-color-100);
}

.location:hover .location__carousel .heading.text-stroke{
    color: transparent;
    -webkit-text-stroke-color: var(--main-black-color-100);
    -moz-text-stroke-color: var(--main-black-color-100);
    -ms-text-stroke-color: var(--main-black-color-100);
}

/* Contact form */
.contact.wrapper{
    width: 80.625rem;
    max-width: 100%;
    padding: 6.25rem 3.75rem;
}

.contact .quote{
    width: 32.5rem;
    max-width: calc(50% - 1rem);
}

.contact .quote__heading{
    margin-bottom: 4.375rem;
    font-family: 'Gilroy-Bold';
    font-size: 2.375rem;
    line-height: 3.5625rem;
    color: var(--main-black-color-100);
}

.contact .quote__text{
    width: 100%;
    margin-bottom: 2rem;
}

.contact .quote__text img{
    margin-right: 1rem;
    padding: 0.5rem 0;
    width: 2.5rem;
    height: 3.5rem;
}

.contact .quote__text p{
    margin-bottom: 0;
    font-family: 'Gilroy-Regular';
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: var(--sub-heading-color);
}

.contact .quote__text:last-child p{
    font-family: 'Gilroy-SemiBold';
    color: var(--main-black-color-100);
}

.contact .contact__form{
    width: 29.25rem;
    max-width: calc(50% - 1rem);
    padding: 5rem 4rem 2.5rem;
    background-color: #fff;
    box-shadow: 0 0 1.875rem 0.125rem var(--sub-heading-color-20);
    border-radius: 1.5rem;
}

.contact .contact__form label{
    display: block;
    padding: 0 0.25rem;
    font-family: 'Gilroy-Regular';
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: var(--sub-heading-color);
}

.contact .contact__form input:not(.category-service__name){
    width: 100%;
    height: 2rem;
    margin-top: 0.25rem;
    margin-bottom: 0.625rem;
    padding: 0.25rem 0;
    text-indent: 1rem;
    background-color: var(--bg-light);
    border-radius: 0.5rem;
    border: 0.0625rem solid var(--sub-heading-color-30);
}

.contact .contact__form input::placeholder{
    font-family: 'Gilroy-Regular';
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: var(--sub-heading-color-30);
}

.contact .contact__form .category {
    width: 100%;
    position: relative;
}

/* List service */
.contact .contact__form button.category-service{
    cursor: pointer;
    width: 100%;
    height: 2rem;
    margin-top: 0.875rem;
    padding: 0.25rem 1rem;
    background-color: var(--bg-light);
    border-radius: 0.5rem;
    border: 0.0625rem solid var(--sub-heading-color-30);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact .contact__form .category-service__name{
    font-family: 'Gilroy-Regular';
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--sub-heading-color);
    cursor: pointer;
}

.contact .contact__form .category-service .plus-rotate-icon{
    width: 0.875rem;
    height: 0.875rem;
    --width: 0.875rem;
}

/* Form select service */
.contact .contact__form .category__services{
    position: absolute;
    top: calc(100% + 0.25rem);
    left: 0;
    right: 0;
    opacity: 0;
    z-index: 10;
    display: none;
    transition: all ease-in-out 0.5s;
    padding-bottom: 0.375rem;
}

.contact .contact__form .category__services.active{
    opacity: 1;
}

.contact .contact__form .category__services::after{
    content: "";
    display: block;
    position: absolute;
    top: 9rem;
    left: 0;
    right: 0;
    width: 100%;
    height: calc(100% - 9rem);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    z-index: -1;
    box-shadow: 0 0 1.25rem 0.125rem var(--sub-heading-color-20);
}

.contact .contact__form .services{
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    width: 100%;
    max-height: 13.5rem;
    overflow-y: auto;
    overscroll-behavior-y: contain;
}

.contact .contact__form .services::-webkit-scrollbar {
    width: 0.1875rem;
}
  
.contact .contact__form .services::-webkit-scrollbar-track {
    background-color: var(--main-bg-color-100);
    border-radius: 0.25rem;
}
  
.contact .contact__form .services::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 0.25rem;
}

.contact .contact__form .services:hover::-webkit-scrollbar-thumb{
    background-color: var(--sub-heading-color);
}
/* End: Custom service scrollbar */

.contact .contact__form .services .services__item{
    width: 100%;
    padding: 0.5rem 1rem;
    font-family: 'Gilroy-Regular';
    font-size: 0.875rem;
    line-height: 1;
    color: var(--sub-heading-color);
    text-align: end;
    background-color: var(--main-bg-color-100);
    border-bottom: 0.0625rem solid var(--sub-heading-color-30);
    cursor: pointer;
}

.contact .contact__form .services .services__item:last-child{
    border: none;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding-bottom: 0.125rem;
}

.contact .contact__form .contact__form-submit{
    margin-top: 2rem;
    height: 2.75rem;
}

.contact .contact__form .contact__form-submit button{
    background-color: transparent;
    border: none;
}

.contact .social__link{
    margin: 0 0.3125rem;
    margin-top: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.125rem;
    position: relative;
    cursor: pointer;
}

.contact .social__link .social__link-icon{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    z-index: 2;
    transition: all ease-in-out 0.35s;
    opacity: 0;
}

.contact .social__link .social__link-icon.icon-gray{
    z-index: 3;
    opacity: 1;
}

.contact .social__link:hover .social__link-icon{
    opacity: 1;
}

.contact .social__link:hover .social__link-icon.icon-gray{
    z-index: 1;
    opacity: 0;
}

.contact .social__link .social__link-icon img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
    cursor: pointer;
}