
/* Header navbar */
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1010;
    background-color: var(--bg-header);
}

header .wrapper{
    height: 6.25rem;
    padding: 1.25rem 0;
}

header .header__logo{
    font-family: 'Gilroy-SemiBold';
    font-size: 2rem;
    color: var(--main-bg-color-100);
    width: fit-content;
    height: 100%;
    padding: 0 1rem;
}

header .header__nav{
    height: 2.625rem;
}

header .header__nav .header__nav-link{
    padding: 0.5rem 1rem;
}

header .header__nav .header__nav-link a{
    font-family: 'Gilroy-Medium';
    font-size: 1.125rem;
    color: var(--bg-light);
    position: relative;
    display: block;
    transition: all ease-in-out 0.4s;
}

header .header__nav .header__nav-link a::after{
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: block;
    width: 0;
    height: 0.125rem;
    border-radius: 0.0625rem;
    transition: all ease-in-out 0.4s;
}

header .header__nav .header__nav-link a:hover{
    padding-bottom: 0.5rem;
    color: var(--main-black-color-100);
}

header .header__nav .header__nav-link a:hover::after{
    width: 100%;
    background-color: var(--main-black-color-100);
}

/* Footer */
.footer{
    width: 100%;
    padding: 3rem 0;
    border-top: 0.0625rem solid var(--bg-light);
    background-color: var(--main-yellow-color-100);
    overflow: hidden;
}

.footer a{
    color: var(--bg-light);
}

.footer .info__header .info__header-logo{
    font-family: 'Gilroy-Bold';
    font-size: 4rem;
    line-height: 5.5rem;
    color: var(--bg-light);
    letter-spacing: 2%;
    margin-bottom: 0;
}

.footer .info .heading{
    font-size: 2.375rem;
    line-height: 3.5rem;
    font-family: 'Gilroy-Bold';
    color: var(--bg-light);
    margin-bottom: 0;
}

.footer .info:first-child .info__content{
    margin-top: 1.5rem;
}

.footer .info__content{
    margin-top: 1rem;
    width: 18.75rem;
}

.footer .info__content .text{
    font-family: 'Gilroy-Regular';
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--bg-light);
    margin: 0.25rem 0;
}

.footer .info__content .text .website-link{
    height: 100%;
    font-family: 'Gilroy-Regular';
    font-size: 1rem;
    color: var(--bg-light);
    line-height: 1.5rem;
}

.footer .info__content .text:first-child{
    margin-top: 0;
}

.footer .info__content .text:last-child{
    margin-bottom: 0;
}

.footer .info__content.location__map{
    height: 13rem;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.footer .info__content.location__map .location__map-link{
    position: absolute;
    top: -0.125rem;
    left: -0.125rem;
    width: calc(100% + 0.25rem);
    height: calc(100% + 0.25rem);
    border: none;
}

.footer .info__content .social-link{
    display: block;
    font-family: 'Gilroy-SemiBold';
    font-size: 1.5rem;
    line-height: 1.125rem;
    color: var(--bg-light);
    padding: 0 0.5rem;
    margin-bottom: 0.625rem;
    height: 1.875rem;
    width: fit-content;
    position: relative;
}

.footer .info__content .social-link::after{
    content: "";
    display: block;
    width: 0;
    height: 0.125rem;
    border-radius: 0.0625rem;
    background-color: var(--bg-light);
    transition: all ease-in-out 0.35s;
    position: absolute;
    bottom: 0;
}

.footer .info__content .social-link:hover::after{
    width: calc(100% - 1rem);
}

.footer .address,
.footer .location,
.footer .connect{
    padding-top: 2.5rem;
}

.copyright{
    width: 100%;
    height: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-bg-color-100);
}

.copyright img{
    margin: 0.375rem 1rem 0.375rem 0;
}

.copyright .copyright__text{
    display: inline-block;
    font-family: 'Gilroy-Regular';
    font-size: 1rem;
    line-height: 1.75rem;
    color: var(--main-yellow-color-100);
}
/* End: Footer */

/* Banner */
.banner{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: var(--main-bg-color-30);
}

.banner .banner__bg{
    width: 100%;
    height: 100%;
    background-color: var(--main-yellow-color-100);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.banner .banner__bg .banner__bg-eclipse1{
    position: absolute;
    z-index: 9;
}

.banner .banner__bg .banner__bg-eclipse2{
    position: absolute;
    z-index: 9;
}

.banner .banner__bg .banner__bg-eclipse3{
    position: absolute;
    z-index: 9;
}

.banner .banner__text{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 11;
    transform: translate(-50%, -50%);
    font-family: 'Gilroy-XBold';
    font-size: 5rem;
    color: var(--bg-light);
    line-height: 5rem;
}

.banner .banner__text .text-stroke{
    font-family: 'Gilroy-XBold';
    font-size: 5rem;
    line-height: 5.25rem;
}

.banner .banner__text .text-uppercase,
.banner .banner__text .text-capitalize:not(.text-stroke){
    font-family: 'Gilroy-XBold';
    font-size: 5rem;
    line-height: 5rem;
    color: var(--bg-light);
}

/* Contact form */
.contact.wrapper{
    width: 80.625rem;
    max-width: 100%;
    padding: 6.25rem 3.75rem;
}

.contact .quote{
    width: 32.5rem;
    max-width: calc(50% - 1rem);
}

.contact .quote__heading{
    margin-bottom: 4.375rem;
    font-family: 'Gilroy-Bold';
    font-size: 2.375rem;
    line-height: 3.5625rem;
    color: var(--main-black-color-100);
}

.contact .quote__text{
    width: 100%;
    margin-bottom: 2rem;
}

.contact .quote__text img{
    margin-right: 1rem;
    padding: 0.5rem 0;
    width: 2.5rem;
    height: 3.5rem;
}

.contact .quote__text p{
    margin-bottom: 0;
    font-family: 'Gilroy-Regular';
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: var(--sub-heading-color);
}

.contact .quote__text:last-child p{
    font-family: 'Gilroy-SemiBold';
    color: var(--main-black-color-100);
}

.contact .contact__form{
    width: 29.25rem;
    max-width: calc(50% - 1rem);
    padding: 5rem 4rem 2.5rem;
    background-color: #fff;
    box-shadow: 0 0 1.875rem 0.125rem var(--sub-heading-color-20);
    border-radius: 1.5rem;
}

.contact .contact__form label{
    display: block;
    padding: 0 0.25rem;
    font-family: 'Gilroy-Regular';
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: var(--sub-heading-color);
}

.contact .contact__form input:not(.category-service__name){
    width: 100%;
    height: 2rem;
    margin-top: 0.25rem;
    margin-bottom: 0.625rem;
    padding: 0.25rem 0;
    text-indent: 1rem;
    background-color: var(--bg-light);
    border-radius: 0.5rem;
    border: 0.0625rem solid var(--sub-heading-color-30);
}

.contact .contact__form input::placeholder{
    font-family: 'Gilroy-Regular';
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: var(--sub-heading-color-30);
}

.contact .contact__form .category {
    width: 100%;
    position: relative;
}

/* List service */
.contact .contact__form button.category-service{
    cursor: pointer;
    width: 100%;
    height: 2rem;
    margin-top: 0.875rem;
    padding: 0.25rem 1rem;
    background-color: var(--bg-light);
    border-radius: 0.5rem;
    border: 0.0625rem solid var(--sub-heading-color-30);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact .contact__form .category-service__name{
    font-family: 'Gilroy-Regular';
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--sub-heading-color);
    cursor: pointer;
}

.contact .contact__form .category-service .plus-rotate-icon{
    width: 0.875rem;
    height: 0.875rem;
    --width: 0.875rem;
}

/* Form select service */
.contact .contact__form .category__services{
    position: absolute;
    top: calc(100% + 0.25rem);
    left: 0;
    right: 0;
    opacity: 0;
    z-index: 10;
    display: none;
    transition: all ease-in-out 0.5s;
    padding-bottom: 0.375rem;
}

.contact .contact__form .category__services.active{
    opacity: 1;
}

.contact .contact__form .category__services::after{
    content: "";
    display: block;
    position: absolute;
    top: 9rem;
    left: 0;
    right: 0;
    width: 100%;
    height: calc(100% - 9rem);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    z-index: -1;
    box-shadow: 0 0 1.25rem 0.125rem var(--sub-heading-color-20);
}

.contact .contact__form .services{
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    width: 100%;
    max-height: 13.5rem;
    overflow-y: auto;
    overscroll-behavior-y: contain;
}

.contact .contact__form .services::-webkit-scrollbar {
    width: 0.1875rem;
}
  
.contact .contact__form .services::-webkit-scrollbar-track {
    background-color: var(--main-bg-color-100);
    border-radius: 0.25rem;
}
  
.contact .contact__form .services::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 0.25rem;
}

.contact .contact__form .services:hover::-webkit-scrollbar-thumb{
    background-color: var(--sub-heading-color);
}
/* End: Custom service scrollbar */

.contact .contact__form .services .services__item{
    width: 100%;
    padding: 0.5rem 1rem;
    font-family: 'Gilroy-Regular';
    font-size: 0.875rem;
    line-height: 1;
    color: var(--sub-heading-color);
    text-align: end;
    background-color: var(--main-bg-color-100);
    border-bottom: 0.0625rem solid var(--sub-heading-color-30);
    cursor: pointer;
}

.contact .contact__form .services .services__item:last-child{
    border: none;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding-bottom: 0.125rem;
}

.contact .contact__form .contact__form-submit{
    margin-top: 2rem;
    height: 2.75rem;
}

.contact .contact__form .contact__form-submit button{
    background-color: transparent;
    border: none;
}

.contact .social__link{
    margin: 0 0.3125rem;
    margin-top: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.125rem;
    position: relative;
    cursor: pointer;
}

.contact .social__link .social__link-icon{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    z-index: 2;
    transition: all ease-in-out 0.35s;
    opacity: 0;
}

.contact .social__link .social__link-icon.icon-gray{
    z-index: 3;
    opacity: 1;
}

.contact .social__link:hover .social__link-icon{
    opacity: 1;
}

.contact .social__link:hover .social__link-icon.icon-gray{
    z-index: 1;
    opacity: 0;
}

.contact .social__link .social__link-icon img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
    cursor: pointer;
}